.home-page-main-container{
    padding-top: 76px;
}


.home-suggested-pages-container{
    padding-top: 130px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
 
}