
.contact-info-main-container{
    height: 66vh;
    width: 40%;
    
}

.contact-info-main-container h1{
    font-weight: 500;
    margin-left: 50px;
}

.contact-info-main-container p{
    font-size: larger;
    color: rgb(95, 95, 95);
    line-height: 30.5px;
    margin-left: 50px;
}