.page-suggestion-btn{
    margin-top: 35px;
    height: 57px;
    width: 175px;
    background-color: rgb(80, 41, 115);
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.page-suggestion-btn p {
    font-size: 17px;
    font-weight: 300;
}

.home-btn-two-link{
    color: white;
    text-decoration: none;
}