

.free-shoping-container{
        width: 100%;
        height: 57px;
        background-color: rgb(80, 41, 115);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
}