
.add-to-bag-btn{
    height: 52px;
    width: 169.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 83, 86);
    color: white;
    border-radius: 10px;
    margin-top: 32px;
}